* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.body {
    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 8%;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    background-color: #535050;
    color: #fff;
}

.user_dash {
    font-size: 8px;
}

.nav>ul {
    display: flex;
    gap: 20px;
    color: #fff;
}

.nav>ul {
    color: #fff;
    text-decoration: none;
    list-style-type: none;
}

li>a {
    color: #fff;
    text-decoration: none;
}

.nav>ul>li:hover {
    text-decoration: underline;
}


.body-content-top-center {
    overflow-y: scroll;
}

.body-content-top-center::-webkit-scrollbar {
    width: 0;
}


.nav>i {
    display: none;
    cursor: pointer;
}


.nav>i:hover {
    color: #ccc;
}


.search {
    display: none;
    cursor: pointer;
}

.search:hover {
    color: #535050;
}



@media screen and (max-width: 768px) {
    .nav>ul {
        display: none;
    }

    .body-main-right {
        display: none !important;
    }

    .body-main-left {
        width: 100% !important;
    }

    .nav>i {
        display: block;
        padding-right: 10px;
    }
}

.choose-lay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
    gap: 10%;
}


@media screen and (max-width: 380px) {
    .choose-lay {
        justify-content: center !important;
        align-items: flex-start !important;
        width: 70% !important;
    }

    .choose-lay>div:nth-child(1) {
        width: 100% !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        font-size: 12px;
    }
}


@media screen and (max-width: 1000px) {
    .choose-lay {
        justify-content: center !important;
        align-items: flex-start !important;
        width: 60% !important;
    }

    .choose-lay>div:nth-child(1) {
        width: 100% !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .choose-lay-form {
        width: 100% !important;
        justify-content: center !important;
    }


    .choose-lay-btn {
        width: 100% !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .body {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }

    .header {
        width: 100%;
    }
}


.choose-lay-form {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    width: 50%;
    color: #535050;
    font-weight: bolder;
    font-size: 12px;
    border-radius: 5px;
    height: 40%;
}


.choose-lay-header {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    height: 40px;
}

.choose-lay-input {
    width: 100%;
    padding: 3px;
}


.choose-lay-input>input {
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    height: 25px;
    padding-left: 10px;
}


.choose-lay-list {
    padding: 5px;
    height: 100%;
    overflow-y: auto;
}


.choose-lay-list>ul {
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    list-style-type: none;
    height: 100%;
    overflow-y: auto;
}


.choose-lay-list>ul>li {
    height: 100%;
    border: 1px solid black;
    padding: 5px 2px;
    width: 100%;
    border: none;
    cursor: pointer;
}

.choose-lay-list>ul>li:active {
    background-color: rgb(61, 150, 218);
    color: #fff;
}

.choose-lay-list>ul>li:hover {
    background-color: rgb(61, 150, 218);
    color: #fff;
}

.choose-lay-btn {
    display: flex;
    /* gap: 10%; */
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 20px;
}

.save-btn {
    background-color: rgb(61, 150, 218);
    border: none;
    width: 50%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 5px;
}

.save-btn:hover {
    background-color: rgb(83, 172, 240);
}

.reset-btn {
    background-color: #535050;
    border: none;
    width: 50%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 5px;
}

.reset-btn:hover {
    background-color: #757272;
}